// colors:
$brand-active: #6a5dc2;
$brand-disabled: #d6d2f1;
$brand-hover: #8577e1;

$link-active: #dc5dfc;

$disabled: #ffffff80;

$primary: #ffffff;
$secondary: #393b3c;

$background-black: #0a0b0b;
$background-black-half-transparent: #0a0b0b80;
$black-disabled: #5b3d3d;
$background-shadow-light: #ffffff40;
$background-shadow-dark: #ffffff54;

$white: #ffffff;

$content-black: #000000;
$content-active: #b4a9ff;
$content-placeholder: #00000066;
$content-error: #ff7575;
$content-secondary: #ffffffb2;

$background-disabled: #00000080;
$content-disabled: #ffffff80;

$excellent: #308e21;
$good: #a59400;
$poor: #777777;
$bullshit: #c82020;

$success: #01d170b0;
$error: #cd0707;
$warning: #e6d058;

// metrics:

$vh100: calc(100vh - 96px - 116px);
